
<h2>ACTUALIZACIÓN DE CONTRASEÑA</h2>
<form action="/auth/profile/editPassword" method="POST">
    <input type="hidden" name="_csrf" value={{csrfToken}}>

    <label>Introduce tu contraseña</label>
    <input name="pass" type="password" required min="8" >

    <label >Introduce tu nueva contraseña</label>
    <input name="newPass" type="password" required min="8" >


    <label >Repite constraseña</label>
    <input name="repPass" type="password" required min="8" >

    <button type="submit">Actualizar Contraseña</button>

</form>