<h1 class="h1Index">Calculadora de gasto de electrodomésticos</h1>
<h2 class="h2Index">Tu página para consultar el gasto de los electrodomésticos de tu casa</h2>

<p class="flexContainer">
  <a class="anchor" href="">Registrate</a>
  <br>
  <label for="">Tienes cuenta?</label>
  <a  class="anchor" href="">Inicia Sesión</a>

</p>