<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<a href='https://www.ean-search.org/' style='text-decoration:none; font:bold 10pt Arial,sans-serif; color:black;' target='_top'>EAN-Search</a><form
  action='https://www.ean-search.org/'
  method='get'
  target='_blank'
><input name='q' type='text' size='15' /><input type='submit' value='Search' /></form>