<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{appTitle}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <nav>
      <a href='/auth/login'>Longin</a>
      <a href='/auth/signup'>Signup</a>
      <a href='/auth/logout'>Logout</a>
      <a href=''></a>
      <a href="/appliance/create">Crear electrodoméstico</a>
      <a href="/appliance/list">Mis electrodomésticos</a>
      <a href="/appliance/budget">Consultar consumo</a>
      

    </nav>
    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>