<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{appTitle}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar">
      <a class="navItem" href="/appliance/create"><img class="icons" src='../images/lavavajillas.png'/>
      <h3>Añadir electrodomestico</h3>
      </a>
      <a class="navItem" href="/appliance/list"><img class="icons" src='../images/lista-de-verificacion.png'/>
      <h3>Ver mis electrodomesticos</h3>
      </a>
      <a class="navItem"  href="/budget"><img class="icons" src='../images/luz-de-ahorro-de-energia.png'/>
      <h3>Consulta gasto</h3>
      </a>
     
      <a class="navItem" href="/budget/create">
      <img class="icons" src='../images/mejor-precio.png'/>
      <h3>Consulta gasto</h3>
       </a>

      <div class="navDiv">

        <a  href='/auth/login'><img class="icons" src='../images/entrar.png'/></a>
        <a  href='/auth/profile'><img class="icons" src='../images/profile.png'/></a>
        <a  href='/auth/signup'><img class="icons" src='../images/anadir-amigo.png'/></a>
        <a  href='/auth/logout'><img class="icons" src='../images/shutdown.png'/></a>
      </div>
      

    </nav>
    
    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>