<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{appTitle}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar">
      <a href='/auth/login'>Login</a>
      <a href='/auth/signup'>Signup</a>
      <a href='/auth/logout'>Logout</a>
      <a href='/auth/profile'>Perfil</a>
      <a href="/appliance/create">Crear electrodoméstico</a>
      <a href="/appliance/list">Mis electrodomésticos</a>
      <a href="/budget">Consultar consumo</a>
      <a href="/budget/create">crear consulta </a>
      

    </nav>
    
    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>