<form>
    {{!-- Typos NAME --}}
    {{!-- <select> 
        {{#each consumTypeS}}
        {{!-- Hacer  --}}
        <option value={{this._id}}>{{this.}}</option>
        {{/each}}

    </select>
    {{!-- Typos CONSUM --}}
     <select> 
        {{#each consumTypeS}}
        {{!-- Hacer  --}}
        <option value={{this.id}}>{{this.}}</option>
        {{/each}}
    </select> --}}


    <button > Consultar</button>
</form>