<h2>Estimación factura de la luz</h2>
<div class="listBudget">
    <table>
        <tr>
            <th>Electrodoméstico</th>
            <th>Eficiencia Energética</th>
            <th>Potencia elegida</th>
            <th>Tiempo</th>
            <th>Fecha</th>
            <th>Total</th>
        </tr>
    {{!-- {{#each}} --}}
        <tr>
            <td>{{this.type}}</td>
            <td>{{this.consum}}</td>
            <td>{{this.}}</td>
            


        </tr>
    {{!-- {{/each}} --}}


    </table>

    




</div>