<h2>Detalles del electrodoméstico</h2>

<div>
  {{! nos dará la vista para luego modificarla }}
  <form action='/appliance/{{appliance.id}}/update' method='POST'>
    <label for='typeAppliance'> Tipo de Electrodoméstico</label>
    <select>
      {{! MOSTRAREMOS LOS TIPOS QUE HAY DE LARGA DURACION. }}
      {{!-- {{#each }}
        <option value="{{appliance.type}}"></option>
        {{/each}} --}}
    </select>
    <label for='typeConsum'>Categoria energetica</label>
    <select>
      {{! MOSTRAREMOS LOS TIPOS QUE HAY DE LARGA DURACION. }}
      {{!-- {{#each }}
        <option value="{{appliance.consum}}"></option>
        {{/each}} --}}

    </select>
    <button type='submit'>guardar</button>
  </form>
</div>