<form action="/appliance/create" method="POST">

    <label for="typeAppliance"> Tipo de Electrodoméstico</label>
    <select>
        {{!-- MOSTRAREMOS LOS TIPOS QUE HAY DE LARGA DURACION. --}}
        {{!-- {{#each }}
        <option value=""></option>
        {{/each}} --}}
    </select>
    <label for="typeConsum">Categoria energetica</label>
    <select>
         {{!-- MOSTRAREMOS LOS TIPOS QUE HAY DE LARGA DURACION. --}}
        {{!-- {{#each }}
        <option value=""></option>
        {{/each}} --}}

    </select>
    <button type="submit"> Crear</button>
    <button type="reset">Borrar Datos</button>

</form>